<h1 class="flex-row" mat-dialog-title>
  <mat-icon>{{editMode ? 'edit':'add'}}</mat-icon>
  {{editMode ? 'Edit':'Add'}} Recipe
</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="recipeForm">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" id="description" class="form-control" formControlName="description"
                rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <label for="description">Ingredients</label>
            <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i = index"
              [formGroupName]="i" style="margin-top: 10px;">
              <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-xs-3">
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class="col-xs-1 end">
                <button type="button" mat-icon-button (click)="onDeleteIngredient(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <button mat-button class="add" (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close class="save" [disabled]="!recipeForm.valid" (click)="onSubmit()">Save</button>
</div>