li {
	margin: 1rem 0;
}

.flex-row {
	align-items: flex-end;
}

ul {
	list-style: none;
	max-width: 50rem;
	margin-top: 5rem;
	background: #e4e4e499;
	height: calc(100vh - 20rem);
	overflow: auto;
	min-height: 30rem;
	padding: 2rem 4rem;
	border-radius: 5px;
	min-width: 50%;
}

.dots {
	flex: 1;
	border-bottom: 1px dotted #b5b5b5;
	margin: 0 0.5rem;
}

img {
	width: 30%;
	margin: 0 0 2rem;
}

.title {
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: 700;
}
