.recipe-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-height: calc(100% - 10rem);
	overflow: auto;
}

.space_between {
	height: 3rem;
}

.recipe-list {
	min-height: calc(100vh - 16.5rem);
}
